<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!pip install pandas
#!pip install requests

## Imports

Import any additional libraries you may need here.

In [13]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01) and create a free account.
2.  Once the account is created. You will get the Get the Free API key option on the top as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/getapi.png"/>

3.  Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [94]:
# Write your code here
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=be14baebf61a03c1aad39ed5a508b1c1"  #Make sure to change ******* to your API key.
data  = requests.get(url).text
data

'{"success":true,"timestamp":1638453844,"base":"EUR","date":"2021-12-02","rates":{"AED":4.164346,"AFN":109.070208,"ALL":121.184629,"AMD":553.83361,"ANG":2.044083,"AOA":640.722739,"ARS":114.564967,"AUD":1.598224,"AWG":2.040735,"AZN":1.931623,"BAM":1.956066,"BBD":2.290017,"BDT":97.304963,"BGN":1.956258,"BHD":0.427402,"BIF":2261.815007,"BMD":1.133742,"BND":1.550415,"BOB":7.831384,"BRL":6.383532,"BSD":1.134157,"BTC":2.0074432e-5,"BTN":84.991959,"BWP":13.265035,"BYN":2.882648,"BYR":22221.340423,"BZD":2.286116,"CAD":1.45454,"CDF":2267.483726,"CHF":1.041348,"CLF":0.034498,"CLP":952.287032,"CNY":7.228764,"COP":4492.338739,"CRC":712.728609,"CUC":1.133742,"CUP":30.044159,"CVE":110.82318,"CZK":25.40531,"DJF":201.904373,"DKK":7.43619,"DOP":64.054513,"DZD":157.300586,"EGP":17.809277,"ERN":17.00648,"ETB":54.75981,"EUR":1,"FJD":2.416909,"FKP":0.84513,"GBP":0.851548,"GEL":3.542961,"GGP":0.84513,"GHS":6.943738,"GIP":0.84513,"GMD":59.29562,"GNF":10780.501356,"GTQ":8.774259,"GYD":237.202818,"HKD":8.834967,"HNL":27.371304,"HRK":7.527824,"HTG":112.130536,"HUF":362.122842,"IDR":16351.22189,"ILS":3.585907,"IMP":0.84513,"INR":85.060967,"IQD":1654.738941,"IRR":47900.593431,"ISK":146.627157,"JEP":0.84513,"JMD":176.440411,"JOD":0.803869,"JPY":127.832233,"KES":127.661358,"KGS":96.129627,"KHR":4616.03865,"KMF":492.489486,"KPW":1020.36807,"KRW":1333.972186,"KWD":0.342979,"KYD":0.945131,"KZT":496.869979,"LAK":12310.903269,"LBP":1736.892321,"LKR":229.666775,"LRD":161.160999,"LSL":17.890655,"LTL":3.347645,"LVL":0.685789,"LYD":5.209533,"MAD":10.43976,"MDL":20.136631,"MGA":4517.635035,"MKD":61.622439,"MMK":2024.697126,"MNT":3240.482081,"MOP":9.102859,"MRO":404.745648,"MUR":48.716939,"MVR":17.516163,"MWK":925.926106,"MXN":24.202225,"MYR":4.784097,"MZN":72.366467,"NAD":17.890649,"NGN":466.126332,"NIO":39.956528,"NOK":10.316246,"NPR":135.986814,"NZD":1.666141,"OMR":0.436487,"PAB":1.134157,"PEN":4.614638,"PGK":3.982251,"PHP":57.328812,"PKR":200.178696,"PLN":4.592731,"PYG":7747.871953,"QAR":4.127954,"RON":4.950372,"RSD":117.580715,"RUB":83.822638,"RWF":1139.410568,"SAR":4.252839,"SBD":9.165307,"SCR":15.020703,"SDG":496.011215,"SEK":10.251226,"SGD":1.550409,"SHP":1.561619,"SLL":12615.145226,"SOS":662.105051,"SRD":24.357876,"STD":23466.167451,"SVC":9.924373,"SYP":1424.868127,"SZL":17.97887,"THB":38.399675,"TJS":12.804446,"TMT":3.968097,"TND":3.268007,"TOP":2.58941,"TRY":15.266565,"TTD":7.696465,"TWD":31.472903,"TZS":2611.961014,"UAH":30.947736,"UGX":4043.188069,"USD":1.133742,"UYU":50.032922,"UZS":12203.623146,"VEF":242428273637.75003,"VND":25775.621149,"VUV":126.2077,"WST":2.906507,"XAF":656.047767,"XAG":0.050707,"XAU":0.000638,"XCD":3.063994,"XDR":0.810412,"XOF":656.036193,"XPF":119.722312,"YER":283.71886,"ZAR":17.986985,"ZMK":10205.034645,"ZMW":20.216397,"ZWL":365.064416}}'

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [96]:
# Turn the data into a dataframe
data_json = pd.read_json(data)
df = pd.DataFrame(data_json)
df

     success           timestamp base       date         rates
AED     True 2021-12-02 14:04:04  EUR 2021-12-02      4.164346
AFN     True 2021-12-02 14:04:04  EUR 2021-12-02    109.070208
ALL     True 2021-12-02 14:04:04  EUR 2021-12-02    121.184629
AMD     True 2021-12-02 14:04:04  EUR 2021-12-02    553.833610
ANG     True 2021-12-02 14:04:04  EUR 2021-12-02      2.044083
..       ...                 ...  ...        ...           ...
YER     True 2021-12-02 14:04:04  EUR 2021-12-02    283.718860
ZAR     True 2021-12-02 14:04:04  EUR 2021-12-02     17.986985
ZMK     True 2021-12-02 14:04:04  EUR 2021-12-02  10205.034645
ZMW     True 2021-12-02 14:04:04  EUR 2021-12-02     20.216397
ZWL     True 2021-12-02 14:04:04  EUR 2021-12-02    365.064416

[168 rows x 5 columns]

In [103]:
# Drop unnescessary column
df_remove_col = df.drop(columns=['success','timestamp','base','date'])
df_rates = df_remove_col.rename(columns={'rates':'Rates'})
df_rates

            Rates
AED      4.164346
AFN    109.070208
ALL    121.184629
AMD    553.833610
ANG      2.044083
..            ...
YER    283.718860
ZAR     17.986985
ZMK  10205.034645
ZMW     20.216397
ZWL    365.064416

[168 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [104]:
# Save the Dataframe
df_rates.to_csv('exchange_rates_1.csv')

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).